:root {
            --satu: #f8d9ae;
            --dua: #ecae43;
            --tiga: #e59312;
            --empat: #8e5915;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f9f9f9;
    line-height: 1.5;
}

.header{
    background-color: var(--satu);
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.namaweb{
    display: flex;
    margin-left: 10px;
}

.namaweb img{
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.namaweb h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.namaweb span{
    color: var(--tiga);
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
} 

.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 13px 20px;
    margin: 0 3px;
    transition: 0.3s;
}

.navbar a:hover{
    color: white;
    background-color: var(--tiga);
    border-radius: 15px;
}

.sidebar{
    height: 100%;
    max-width: 220px;
    background-color: var(--empat);
    padding: 5px;
    display: flex;
    position: fixed;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
}

.sidebar h3{
    color: white;
    margin: 30px auto 20px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.sidebar img{
    display: flex;
    margin: 10px auto;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
    transition: 1s;
}

.sidebar img:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

.sidebar h5{
    color: white;
    margin: 20px 20px 50px;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);;
}

.sosmed{
    margin: 10px auto;
    padding: 0 25px;
    background-color: var(--satu);
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

.sosmed:hover{
    transform: scale(1.07);
    background-color: var(--dua);
}

.sosmed a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.sosmed img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    box-shadow: none;
}

.kontenutama{
    margin-left: 220px;
}

.beranda{
    display: flex;
    padding: 80px 100px;
    scroll-margin-top: 30px;
    background-color: var(--tiga);
    color: white;
}

.isikiri{
    flex: 3;
    margin-right: 60px;
}

.isikiri h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    font-weight: 900;
}

.isikiri p{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    font-weight: bold;
    text-align: justify;
}

.isikanan{
    display: flex;
    flex: 2;
}

.isikanan img{
    margin: auto;
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 1s;
}

.isikanan img:hover{
    transform: scale(1.05);
}

.perankimia{
    background-color: var(--satu);
    color: var(--empat);
    padding: 30px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.perankimia:hover{
    transform: scale(1.05);
}

.perankimia li{
    font-weight: 500;
    margin-left: 20px;
}

#materi{
    background-image: url('gambar/bgmaterii.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 100px;
    scroll-margin-top: 50px;
}

#materi h2{
    padding: 20px 50px;
    border-radius: 20px;
    background-color: var(--tiga);
    width: fit-content;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.materi{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
}

.rincianmateri{
    background-color: var(--satu);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
}

.rincianmateri:hover{
    transform: scale(1.04);
}

.rincianmateri p{
    text-align: justify;
    font-weight: 500;
}

.rincianmateri a{
    text-decoration: none;
    color: black;
    float: right;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: var(--dua);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.rincianmateri a:hover{
    transform: scale(1.1);
    background-color: var(--tiga);
    color: white;
    font-weight: bold;
}

.judulmateri{
    display: flex;
}

.judulmateri img{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.judulmateri h3 {
    margin: 15px 10px;
    text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.5);
}

#eksperimen{
    background-color: var(--dua);
    padding: 60px 100px;
    scroll-margin-top: 50px;
}

#eksperimen h2{
    padding: 20px 50px;
    border-radius: 20px;
    background-color: var(--tiga);
    width: fit-content;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.eksperimen{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}

.eksperimenitem{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
    height: 300px;
    width: auto;
}

.eksperimenitem:hover{
    transform: scale(1.07);
    background-color: var(--satu);
}

.eksperimenitem img{
    height: 75%;
    width: 100%; 
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.infoeksperimen{
    display: flex;
    justify-content: space-between;
}
.infoeksperimen p{
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-top: 20px;
    justify-content: space-between;
    z-index: 1;
    transition: 0.3s;
}

.infoeksperimen a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--dua);
    color: black;
    font-weight: 400;
    margin-top: 10px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.infoeksperimen a:hover{
    padding: 10px 30px;
    font-weight: bold;
    background-color: var(--tiga);
    color: white;
}

#kontak{
    background-color: var(--satu);
    padding: 60px 100px;
    scroll-margin-top: 50px;
}

#kontak h2{
    padding: 20px 50px;
    border-radius: 20px;
    background-color: var(--tiga);
    width: fit-content;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.kontak{
    background-color: var(--dua);
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.nama label{
    font-weight: bold;
}

.hpemail{
    display: flex;
    gap: 20px;
    width: 100%;
}

.formhpemail{
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.formhpemail label{
    margin-bottom: -25px;
    font-weight: bold;
}

.pesan label{
    font-weight: bold;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: wheat;
}

.submit{
    display: flex;
    justify-content: center;
} 

.submit input{
    width: 20%;
    transition: 0.8s;
    font-weight: bold;
}

.submit input:hover{
    transform: scale(1.05);
    background-color: var(--tiga);
    color: white;
}


.quotes{
    background-color: var(--tiga);
    padding: 30px 20px;
    text-align: center;
}

.quotes h3{
    margin-bottom: 10px;
}

#footer{
    background-color: var(--empat);
    padding: 20px 100px;
    text-align: center;
}

.logofooter{
    display: flex;
    justify-content: center;

}

.logofooter img{
    height: 40px;
    width: 40px;
    margin: auto 5px auto 0;
    border-radius: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.logofooter h1{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.logofooter span{
    color: var(--tiga);

}
